# --- Archivos del sistema y temporales ---
.vscode/
.idea/
Thumbs.db
.DS_Store
*.tmp
*.log

# --- Archivos Markdown ---
# Esto evita que se suban archivos .md (Nota: README.md seguirá apareciendo si ya estaba subido)
*.md